/* ===============colors=============== */
:root{
  --green: #33A03E;
  --gray: #ABB2BF;
  --background: #282C33;
  --white: #FFFFFF;
  --blue: #5974D2;
}

body{
  background-color: var(--green);
}

body{
  position: relative;
  overflow-x:hidden ;
  /* overflow: hidden; */
}

.green{
  color: var(--green);

}
.gray{
  color: var(--gray);

}
.white{
  color: var(--white);

}

.w300{
  font-weight: 300;
}
.w400{
  font-weight: 400;
}

.w500{
  font-weight: 500;
}

.w600{
  font-weight: 600;
}
.w700{
  font-weight: 700;
}

/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{
  font-size: 62.5%;
  font-family: "Fira Code", monospace;
  line-height: 1;
  font-weight: 400;
  color: var(--gray); /* Set the base font size to be 10px (10/62.*/

}


a{
  text-decoration: none;
  color: var(--white);
}

.flex{
  display: flex;

}

.column{
  flex-direction: column;
}

.container{
  max-width: 104.4rem;
  padding: 0 4rem;
  margin: 0 auto;
  overflow: hidden;
}



.secondary-title{
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  

}

.secondary-title h2{
  font-size: 3.2rem;
  font-weight: 500;
}

.secondary-title::after{
  content: "";
  background-color: #33A03E;
  height: 1px;
  width: 100%;
}

.section-content{
  padding: 6.4rem 0 14.8rem 0;
}

.grid{
  display: grid;
}
